<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <img class="icons" src="../../assets/icons/icon-home.png" />
      <ion-label class="custom_ion_label">Cupones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1">
      <img class="icons" src="../../assets/icons/icon-cupones.png" />
      <ion-label class="custom_ion_label">Cupones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img id="search_icon" src="../../assets/icons/icon-search.png" />
      <ion-label class="custom_ion_label">Busqueda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img class="icons" src="../../assets/icons/icon-user.png" />
      <ion-label class="custom_ion_label">Usuario</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>